<style>
  main {
    padding: 20px 24px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
  }
  .grid-item {
    grid-column: span 1;
  }
</style>

<main class="main">
  <h1>{{ title }}</h1>
  <div class="grid">
    <div class="grid-item">
      <app-counter></app-counter>
      <app-todo></app-todo>
      <app-contact-form></app-contact-form>
    </div>
    <div class="grid-item">
      <app-fetch-data></app-fetch-data>
    </div>
  </div>
</main>
<router-outlet />
